@page "/create-workout"
@using WorkoutLoggerFrontEnd2.Models
@inject HttpClient Http
@inject NavigationManager Navigation
@rendermode InteractiveServer
@using Radzen
@using Radzen.Blazor

<h3>Create Workout</h3>

<RadzenTemplateForm Data="@newWorkout" TItem="Workout" Submit="@HandleSubmit" Method="post">
    <RadzenFieldset Text="Workout Info">
        <label>Name</label>
        <RadzenTextBox @bind-Value="newWorkout.Name" Name="Name" Style="width:100%" />
    </RadzenFieldset>

    <RadzenButton ButtonType="ButtonType.Submit"
                  Text="Submit"
                  Style="margin-top: 20px;" />
</RadzenTemplateForm>

<p style="color: green">@statusMessage</p>

@code {
    Workout newWorkout = new Workout
        {
            Exercises = new List<Exercises>()
        };

    string statusMessage = "";

    private async Task HandleSubmit()
    {
        try
        {
            var response = await Http.PostAsJsonAsync("Workout/PostWorkout", newWorkout);

            if (response.IsSuccessStatusCode)
            {
                statusMessage = "Workout created!";
                Navigation.NavigateTo("/myworkouts");
            }
            else
            {
                var error = await response.Content.ReadAsStringAsync();
                statusMessage = $"Failed: {response.StatusCode}, {error}";
                Console.WriteLine(statusMessage);
            }
        }
        catch (Exception ex)
        {
            statusMessage = $"Exception: {ex.Message}";
            Console.WriteLine(statusMessage);
        }
    }
}